.body {
    overflow-x:hidden;
    font-family: san-self;


}
.navbar-toggler-icon{
}
.navbar {
    text-transform:uppercase;
    background-color:#505962;

}

.home-inner {
    background-image: url('b-gh.jpg');
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-intex : -1;
}
.caption h2 {
    color: white;
    font-size: 2rem;
    text-transform : uppercase;
    padding-bottom : 2rem;
}
.btn {
    border-width:medium;
    border-radius:0%;
    text-transform: uppercase;
    padding: .5rem 1.1rem;
    font-size : 1rem;
}
.card {
overflow-x:hidden;
}
.nav-link{
    color:white;
}
.padding {
    padding-bottom: 10rem;
}
img.more-pic{
    max-width : 100%;
}
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  background: #E9ECEF;
  z-index: -1;
}
.no-padding .col-md-6 {
    padding:0;
}
.card {
    margin: 1rem;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.heading {
    text-align:center;
    padding-bottom:2rem;
    font-size : 3rem;

}
heading .h3 {
    text-align:center;
    padding:2rem;


}

.footer {
    background-color:#000000;
    color:white;
    padding:6rem;
    font-size:1.4rem;
}

.strong {
    font-size:5rem;
}
.container{

    padding-top: 200px;

}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
.jumbotron {
    color: dark;
}
.form {
    color: white;


}
