{% extends 'home.html' %}
{% load static %}
{% block content %}
<div class="card" id="show">
    {% for artical in articals %}
    <div class="card-header">
        <img src="{{ artical.In_image.url }} ">
        <h1 class="bg-dark"> {{artical.title}} </h1>
        <h2 class="bg-dark">artical by- {{artical.creater.username}}</h2>
        <h2 class="bg-dark">artical by- {{artical.status}}</h2>
    </div>
    <div class="card-body">
        <p class="bg-dark">{{ artical.slug}}</p>
        <P class="bg-dark"> {{ artical.said }} </P>
    </div>
{% empty %}
    <a   class="btn btn-primary" href="{% url 'create_artical' %}">create_something</a>
{% endfor %}
</div>
{% endblock content %}