<!DOCTYPE html>

{% extends 'home.html' %}
{% load static %}
{% load bootstrap4 %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}
<body data-spy="scroll" data-target="#menu" data-offset="0" >


<!-- here some iphone need code skiped -->
    <div id="show">
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner">
    </div>
        </div>
        </div>





<!-- this where main caption start -->

<div class="caption center-block text-center">
    <h2> artical to express yourself </h2>
    {% if user.is_authenticated %}
    {% else %}
    <a class="btn btn-outline-light" href="{% url 'users:login' %}">login & write </a>
    <a class="btn btn-outline-light" href="{% url 'users:register' %}" id="register">
        register </a>

    {% endif %}
    <a class="btn btn-outline-light" href="{% url 'show_articals' %}">
        show articals </a>
    <a class="btn btn-outline-light" href="{% url 'create_artical' %}">
        create artical </a>
</div>


</div>


</div>
<div class="jumbotron" id="about">
    <h3 class="heading">
        you can create a artical
    </h3>
    <div class="row">
        <div class="col-md-6 text-center">
            <h4>say something about a topic </h4>
            <p>you can write a aritcal just  about
            anything you can think of</p>
        </div>
        <div class="col-md-6 text-center">
            <h4>you can read </h4>
            <p> know what other people are
            thinking about a topic. expand
                your knowlege or just fun</p>
        </div>
    </div>
</div>
<!-- end of about -->
<!-- start of more info -->
<div id="more-pic">
    <div class="container-fluid">
        <h3 class="heading">more-pic
        </h3>

    <div class="row no-padding">
        <div class="col-md-6">
            <img class="more-pic" src="{% static 'img/1.png' %}">
        </div>
        <div class="col-md-6">
            <img class="more-pic" src="{% static 'img/2.png' %}">
        </div>
        <div class="col-md-6">
            <img class="more-pic" src="{% static 'img/3.png' %}">
        </div>
        <div class="col-md-6">
            <img class="more-pic" src="{% static 'img/4.png' %}">
        </div>
        </div>
    </div>
</div>
<!-- end of more-pic -->
<!-- some articals -->
<div id="articals">
    <h3 class="heading"> some articals </h3>

    <div class="row">
        <div class="col-md-6">
            <div class="card text-center">
            <img class="card-img-top"
                 src="{% static 'static/jet1.jpg' %}">
            <div class="card-body">
                <h4> heading</h4>
                <p> a praragraph </p>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
            <img class="card-img-top"
                 src="{% static 'static/jet1.jpg' %}">
            <div class="card-body">
                <h4> heading</h4>
                <p> a praragraph </p>
            </div>
            </div>
        </div>
    </div>
</div>
<!--- about us and contact -->
<div id="about&contact">
    <div class="contact-fluid footer">
        <div class="row">
            <div class="col-md-3"> </div>
            <div class="col-md-6 text-center">
                <strong>about us</strong>
                    <p>
                        platform to expres views and learn from other
                        share your storis and get other people's take on subject
                        </br>
                    </p>
                    <strong>contact info</strong>
                  <p> 9079220723 </br>
                      devendersidhu001@gmail.com
                  </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

</body>
</html>